.container {
  width: 1450px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  img {
    width: 360px;
    margin-left: 30px;
    margin-right: 60px;
    margin-top: -110px;
    border-radius: 15px;
  }
  .text {
    width: 850px;
    font-size: 17px;
    text-align: justify;
    margin-right: 70px;
    line-height: 1.5;
  }
}
