.container {
  width: 1450px;
  display: flex;
  justify-content: end;
  margin-top: 30px;
  margin-bottom: 20px;

  a {
    margin-right: 30px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    padding: 5px;

    &:last-child {
      margin-right: 200px;
    }
    &:hover {
      background-color: red;
      border-radius: 15px;
      box-shadow: 0 0 15px 5px grey;
    }
    &:active {
      transform: translateY(5px);
      transition: 0.2s ease-in-out;
      color: black;
    }
  }
}

hr {
  width: 1300px;
  margin: 0 auto;
  color: black;
  margin-bottom: 50px;
}

.slogan {
  @font-face {
    font-family: "Pacifico";
    src: url(../../Assets/Fonts/Pacifico-Regular.ttf);
  }
  font-family: "Pacifico", cursive;
  font-style: italic;
  font-size: 30px;
  margin-right: 120px;
  color: white;
}
