@font-face {
  font-family: "BrunoAceSC";
  src: url("../../../../Assets/Fonts/BrunoAceSC-Regular.ttf");
  font-weight: regular;
  font-style: normal;
}

.container {
  font-family: "BrunoAceSC";
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: space-around;
  top: 560px;
  left: 200px;
}
